#main{
    position: absolute;
    display: flex;
    top:0%;
    left:0%;
    height: 120%;
    width: 100%;
}
#main-left{
    position: absolute;
    left:0%;
    top:0%;
    height: 120%;
    width: 20%;
}
#main-right{
    position: absolute;
    display: flex;
    top:0%;
    left:20%;
    height: 120%;
}
.coulumn{
    width: 33%;
}
.top-half-python{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 255px;
    height: 7.1%;
    background-color: #f7cc31;
    
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    opacity: 0.9;
}
.PythonCourseBox{
    width: 100%;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1vw;
}
.PythonLogo{
    position: relative;
    border-radius: 1vw;
    margin-left: 2%;
    margin-top: 1%;
}
.PythonTitle{
    margin-left: 2%;
    font-weight: 500;
    margin-bottom: 0;
}
.py{
    margin-left: 2%;
    margin-bottom: 2%;
}