@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
   
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.nav-left{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0%;
    left: 3%;
    height: 100%;
    width: 40%;
    color: white;
}

.logo{
    position: absolute;
    width: 35%;
    height: 100%;
    left: 10%;
}

.nav-mid{
    position: absolute;
    top: 25%;
    left: 32%;
    height: 100%;
    width: 50%;
    font-size: 0.3vw;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
    
}

.nav-links li, .nav-links a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 1.4vw;
    cursor: pointer;
}

.nav-links a:hover{
    opacity: 0.5;
}
.nav-right{
    position: absolute;
    display: flex;
    left: 74%;
    top: 0%;
    height: 100%;
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-header-1{
    border: none;
    background: none;
    color: blue;
    height: 45%; 
    width: 30%;
    font-size: 1.4vw;
    
}
.btn-header-1:hover{
    background-color: #f0f7fe;
}
.btn-header-2{
    position: relative;
    left: -10%;
    height: 45%; 
    width: 30%;
    border: solid 1px blue;
    color: blue;
    background-color: white;
    font-size: 1.4vw;
    
}
.btn-header-2:hover{
    background-color: blue;
    
}

.btn-header-2:hover a {
    color: white; 
}
.firstrow{
    font-size: 25px;
    justify-content: ;
}
.row2{
    font-size: 25px;
    justify-content: ;
}
.row3{
    font-size: 25px;
}
.row4{
    font-size: 25px;
}