
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{   
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    
}

body{
    background-color: #eaf2fe;
    height: 100%;
    width: 100%;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.nav-left{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0%;
    left: 3%;
    height: 100%;
    width: 40%;
    color: white;
}

.logo{
    position: absolute;
    width: 35%;
    height: 100%;
    left: 10%;
}

.nav-mid{
    position: absolute;
    top: 25%;
    left: 32%;
    height: 100%;
    width: 50%;
    font-size: 0.3vw;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10%;
    
}

.nav-links li, .nav-links a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 1.4vw;
    cursor: pointer;
}

.nav-links a:hover{
    opacity: 0.5;
}
.nav-right{
    position: absolute;
    display: flex;
    left: 74%;
    top: 0%;
    height: 100%;
    width: 26%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-right a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-header-1{
    border: none;
    background: none;
    color: blue;
    height: 45%; 
    width: 30%;
    font-size: 1.4vw;
    
}
.btn-header-1:hover{
    background-color: #f0f7fe;
}
.btn-header-2{
    position: relative;
    left: -10%;
    height: 45%; 
    width: 30%;
    border: solid 1px blue;
    color: blue;
    background-color: white;
    font-size: 1.4vw;
    
}
.btn-header-2:hover{
    background-color: blue;
    
}

.btn-header-2:hover a {
    color: white; 
}

.main-left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 95%;
    flex-flow: column nowrap;
    top: 13%;
    left: 5%;
    height: 80%;
}

.main-title h1{
    font-size: 4vw;
    width: 100%;
    margin-bottom: 15%;
}
.main-title h3{
    margin-top: -10%;
}

.first-line::after{
    content: "\a";
    white-space: pre;
}
.second-line::before{
    content: "\a";
    white-space: pre;
}
.inputs{
    display: flex;
    margin-left: -10%;
    height: 55%;
    
}
.input-1, .input-2{
    padding: 1%;
    margin-left: 8%;
    font-size: 1.5vw;
    padding-left: 2%;
}

.input-1{
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    outline: none;
}
.input-2{
    margin-left:0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: blue;
    
}

.input-2::placeholder { 
    color: white;
}
.register-with-others{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -11%;
    margin-left: 30%;
    height: 40%;
    width: 70%;
}

.register-with-others button{
    width: 30%;
    cursor: pointer;
    border: solid 1px;
    border-radius: 0.3vw;
    background-color: white;

}

#iconRegister{
    
}

.main-right img{
    position: absolute;
    width: 45%;
    height: 55%;
    left: 50%;
    top: 28%;
    z-index: -1;    
}

.footer{
	background-color: #24262b;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    
}

.container{
	max-width: 73em;
	margin:auto;
}
.row{
	display: flex;
}
ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 1em;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 2em;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.6em;
	background-color: #e91e63;
	height: 0.1em;
	box-sizing: border-box;
	width: 3em;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 0.6em;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 0.5em;
}
.footer-col .social-links a{
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	background-color: rgba(255,255,255,0.2);
	margin:0 0.6em 0.6em 0;
	text-align: center;
	line-height: 2.5em;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}